#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(113, 167, 185);
}

input[type=submit] {
  color: navy;
  border: 10px;
  background-color: lavender;
  margin: 10px;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type=submit]:hover {
  background-color: rgb(145, 145, 165);
  color: lightblue;
}

.best-out-of {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.pokemon-button {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.poke-button-desc {
  margin: 0px;
}

img {
  height: 175px;
  width: auto;
}

h1 {
  margin: 0px;
}